.todo-form {
    max-width: 200px;
    padding: 20px;
    border: 2px solid #555;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.todo-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo-form input[type="text"],
.todo-form textarea,
.todo-form select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #555;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.todo-form select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: #bbb;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.todo-form select:hover {
    background-color: #555;
}

.todo-form .todo-form-title {
    font-size: 24px;
    font-weight: bold;
    color: #bbb;
    text-align: center;
    margin: 20px 0;
    text-transform: uppercase;
}

.todo-form .todo-title,
.todo-form .todo-priority,
.todo-form .todo-description {
    margin-bottom: 15px;
}

.todo-form .todo-form-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #bbb;
}

.todo-form textarea {
    height: 100px;
}

.wheather {
    max-width: 100%;
    padding: 2rem;
    text-align: center;
}

.posts {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    text-align: center;
}

.postitems {
    background-color: #333333;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 5px;
    max-width: 500px;
}

.inputPostCreation {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #cccccc40;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: "border-box"
}

.textareaPostCreation {
    width: 90%;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    box-sizing: "border-box",
}

.weather-table {
    margin: 0 auto;
}

tr:nth-child(even) {
    background: #353535;
}

tr:nth-child(odd) {
    background: #2d2d2d;
}

th,
td {
    padding-left: 1rem;
    padding-right: 1rem;
}

nav {
    background-color: #333;
    /* Dark background color */
    padding: 10px;
    /* Add some padding around the navigation */
    border-radius: 8px;
}

nav ul {
    list-style-type: none;
    /* Remove the default list bullet points */
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    /* Display list items horizontally */
    margin-right: 20px;
    /* Add spacing between list items */
}

nav ul li a {
    text-decoration: none;
    /* Remove underline from links */
    /*color: white; /* White text color */
    font-weight: bold;
    /* Bold font */
    padding: 5px 10px;
    /* Add padding inside each link */
    border-radius: 5px;
    /* Add rounded corners to links */
    transition: background-color 0.3s ease;
    /* Smooth background color transition */
}

nav ul li a:hover {
    background-color: #555;
    /* Darker background color on hover */
}